.header-container{
  
    display: flex;
   align-items: center;
   justify-content: space-between;
   padding-left: 24px;
   padding-right: 24px;
   background-color: blueviolet;
}

.logo-icon{
    width: 40px;
    height: 40px;
    border: 1px solid;
    border-radius: 50%;
    background-image: url('../assets/icon.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.nav-container > button{
    height: 25px;
}

hr{
    margin: 2px;
}

.section-container{

    padding-top: 25px;
    padding-bottom: 10px;
    
}

.section-container>header{
    text-align: center;
}
.section-content-container{

    display: flex;
}